{% extends 'Inventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-4">
        <fieldset class="form-group">
          <legend class="border-bottom py-2">Log In</legend>
          {{form|crispy}}
        </fieldset>
        <hr />
        <div class="d-flex">
          <button type="submit" class="btn btn-outline-primary mt-2">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
